@using UserList.Models.DTOs
@model UsuarioListaDTO

<div style="margin-top:10px">
    <fieldset>
        <div class="row">
            <table class="table table-striped" id="usLis">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Apelido</th>
                        <th>Endereco Completo</th>
                        <th>Telefone</th>
                        <th>Data de Cadastro</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListaUsuarios)
                    {
                        <tr>
                            <td><input type="radio" id="rButton" name="rButton" value="@item.Id"></td>
                            <td>@item.Nome</td>
                            <td>@item.Apelido</td>
                            <td>@item.Endereco</td>
                            <td>@item.Telefone</td>
                            <td>@item.DataCadastro.ToShortDateString()</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="form-group">
                <button class="btn btn-outline-success" id="edit" onclick=Editar()>EDITAR</button>
                <button class="btn btn-outline-danger" id="del" onclick=Deletar()>DELETAR</button>

                @if (Model.TotalPaginas > Model.ListaUsuarios.Count())
                {
                    <div style="float:right;" class="d-inline">
                        @if (Model.PagAtual > 2)
                        {
                            <a class="d-lg-inline" style="cursor:pointer;" onclick="Filtrar(@Model.PagAtual-1)"> anterior</a>
                        }
                        <a class="d-lg-inline" style="cursor:pointer;" onclick="Filtrar(@Model.PagAtual+1)"> próxima</a>
                    </div>
                }
            </div>
        </div>
    </fieldset>
</div>
